<div>
  <div class="flex items-center justify-center min-h-screen bg-oss-orange">
    <div class="flex flex-col mx-24 ">
      <h1 id="hero-text" class="max-w-6xl font-extrabold text-white text-9xl">
        OSS<span class="text-5xl">117</span>
      </h1>
      <h2 class="font-bold text-white text-7xl">L'API ne répond plus</h2>
    </div>
    <%= image_tag('oss-117', height: 400, width: 400) %>
  </div>
  <div class="max-w-4xl mx-auto mt-24 bg-white">
    <div class="h-36">
        <h2 class="text-6xl font-bold text-black">Endpoints</h2>
      </div>
        <div id="random-quote">
          <div class="flex flex-row items-center p-2 bg-oss-orange">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="white">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M9 5l7 7-7 7" />
            </svg>
            <p class="font-bold text-white">Get a random quote</p>
          </div>
          <div class="border border-oss-orange">
            <div class="flex flex-row items-center p-4">
              <span class="px-4 py-2 font-medium text-white rounded bg-oss-orange">GET</span>
              <a href="<%= api_v1_quotes_random_path %>" class="mx-4 font-medium underline hover:text-white hover:bg-oss-orange"><%= api_v1_quotes_random_path %></a>
            </div>
            <div id="code-block" class="py-2">
              <code>
                [
                  <br>
                  {
                    <br>
                    "quote": "J'aime me battre",
                    <br>
                    "author": "Hubert Bonisseur de la Bath"
                    <br>
                  }
                  <br>
                ]
                <br>
              </code>
            </div>
          </div>
        </div>
        <div id="several-quotes" class="mt-12">
          <div class="flex flex-row items-center p-2 bg-oss-orange">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="white">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M9 5l7 7-7 7" />
            </svg>
            <p class="font-bold text-white">Get several random quotes</p>
          </div>
          <div class="border border-oss-orange">
            <div class="flex flex-row items-center p-4">
              <span class="px-4 py-2 font-medium text-white rounded bg-oss-orange">GET</span>
              <a href="https://oss-117-quotes.herokuapp.com/v1/quotes" class="mx-4 font-medium underline hover:text-white hover:bg-oss-orange">https://oss-117-quotes.herokuapp.com/v1/quotes</a>
            </div>
            <div id="code-block" class="py-2">
              <code>
                [
                  <br>
                  {
                    <br>
                    "quote": "J'aime me battre",
                    <br>
                    "author": "Hubert Bonisseur de la Bath"
                    <br>
                  }
                  <br>
                ]
                <br>
              </code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

