<div class="bg-gray-900 min-h-screen flex items-center justify-start">
  <h1 class="text-9xl text-white font-extrabold mx-48 max-w-6xl">
    <span class="text-transparent bg-gradient-to-r bg-clip-text from-yellow-500 to-yellow-600">OSS</span><span class="text-transparent bg-gradient-to-r bg-clip-text from-yellow-500 to-yellow-600 text-5xl">117</span>
    <span class="text-4xl">API</span>
  </h1>
  <%= image_tag('oss-117', height: 400, width: 400) %>
</div>
